* {
    font-family:'Courier New', Courier, monospace
}

#nav-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    font-size: large;
    background-color: darkgrey;
    border-radius: 50px;
    margin-bottom: -35px;
}

a#nav-e:hover{
    background-color: lightgrey;
    color: black;
    border-radius: 30px;
}

#p-logo{
    max-width: 100px;
    max-height: 100px;
}

ul li{
    padding: 10px;
}

ul.left{
    list-style-type: none;
    display: flex;
    padding-left: 15px;
}

ul.right{
    list-style-type: none;
    display: flex;
    padding-right: 15px;
}

#dot-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.dot-1 {
    height: 25px;
    width: 1px;
    background-color: lightgreen;
    border-radius: 90%;
    display: inline-block;
    padding: 5px;
  }

  .dot-2 {
    height: 25px;
    width: 1px;
    background-color: lightblue;
    border-radius: 90%;
    display: inline-block;
    padding: 5px;
  }

footer{
    display: inline;
}

footer ul {
    list-style: none;
}

footer li{
  display: inline;
  text-align: center;
  position: relative;  
}