* {
    font-family:'Courier New', Courier, monospace
}

#nav-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

ul li{
    padding: 10px;
}

ul.left{
    list-style-type: none;
    display: flex;
    padding-left: 15px;
}

ul.right{
    list-style-type: none;
    display: flex;
    padding-right: 15px;
}

footer{
    display: inline;
}

footer ul {
    list-style: none;
}

footer li{
  display: inline;
  text-align: center;
  position: relative;  
}